
@{
    Layout = "~/Views/Shared/_HWCSS_Layout.cshtml";
    ViewData["Title"] = "About";
}

<article class="col-xl-12 border-dashed">
    <p>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла
    </p>
    <p>бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла </p>
    <p>бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла </p>

</article>