
@{
    Layout= "~/Views/Shared/_HWCSS_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<nav class="col-xl-2 border-solid" >
    <h2>Категории</h2>
    <ul >
        <li>Mobile phone</li>
        <li>Notebook</li>
        <li>Camera</li>
        <li>Headphones</li>
    </ul>
</nav>

<article class="col-xl-10 border-dashed">
    <p>
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла
        бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла
    </p>
    <p>бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла </p>
    <p>бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла бла </p>

</article>
